/*---Style Input---*/
.input-signup {
    border: 1px solid #ccc;
    padding-left: 50px;
}

/*---Style Auth Block---*/
.auth-group {
    display: block;
}

    .auth-form {
        max-width: 470px;
    }

/*---Icon in input---*/
.left-inner-addon {
    position: relative;
}

    .left-inner-addon i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

    .left-inner-addon i.fa-lock {
        position: absolute;
        padding: 10px 17px;
        pointer-events: none;
    }

/*---Style Links---*/
a:hover {
    text-decoration: none;
}

    a {
        cursor: pointer;
    }

/*---Style Submit---*/
.button-signup-style {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px 0px 6px 6px;
    background: #e5e5e5;
}

.modal-header {
    background-color: #337ab7;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-footer {
    background-color: #e5e5e5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
